<%- include('header.ejs') %>
<h1>Apparel</h1>

<ul class="apparel">
  <% for (let i = 0; i < apparels.length; i++) { %>
    <div class="card">
    <li  class="individualListing">
      <a href="/apparel/<%=apparels[i].id%>">
        <img src="<%=apparels[i].img%>" class="apparelImg"></br>
        <%=apparels[i].name%></br>
        <%=apparels[i].brandName%></br>
        <p class="price">Price: $<%=apparels[i].price%></p></br>
 
      </a>
    </li>
  </div>
  <% } %>
</ul>

<%- include('footer.ejs') %>