<%- include('header.ejs') %>
<h1>Racquets</h1>
<ul class="racquets">
  <% for (let i = 0; i < racquets.length; i++) { %>
    <div class="card">
    <li  class="individualListing">
      <a href="/racquets/<%=racquets[i].id%>">
        <%=racquets[i].name%></br>
        <%=racquets[i].brandName%></br>
        <img src="<%=racquets[i].img%>" class="Img"></br>
   
        Price: $<%=racquets[i].price%></br>
        Quantity: <%=racquets[i].quantity%></br>
      </a>
    </li>
    </div>
  <% } %>
</ul>
<%- include('footer.ejs') %>