<%- include('header.ejs') %>
<h1>Racquets</h1>
<ul class="racquets">
  <% for (let i = 0; i < racquets.length; i++) { %>
    <li  class="individualRacquets">
      <a href="/racquets/<%=i%>">
        <%=racquets[i].name%></br>
        <%=racquets[i].brandName%></br>
        <img src="<%=racquets[i].img%>" class="racquetImg"></br>
   
        Price: $<%=racquets[i].price%></br>
        Quantity: <%=racquets[i].quantity%></br>
      </a>
    </li>
  <% } %>
</ul>
<%- include('footer.ejs') %>