<%- include('header.ejs') %>
<div class="showDiv">
  <h1><%=shoe.name %></h1>
  <img src="<%=shoe.img%>" class="showImg"></br>
  <%=shoe.brandName%></br>   
  Price: $<%=shoe.price%></br>
  Quantity: <%=shoe.quantity%></br>
  <a class="description">Description:</a> <%=shoe.description%></br>
</div>

<%- include('footer.ejs') %>