<%- include('header.ejs') %>
<h1><%=ball.name %></h1>
<img src="<%=ball.img%>" class="Img"></br>
<%=ball.brandName%></br>   
Price: $<%=ball.price%></br>
Quantity: <%=ball.quantity%></br>
Description: <%=ball.description%></br>




<%- include('footer.ejs') %>