<%- include('header.ejs') %>
<h1><%=apparel.name %></h1>
<img src="<%=apparel.img%>" class="Img"></br>
<%=apparel.brandName%></br>   
Price: $<%=apparel.price%></br>
Quantity: <%=apparel.quantity%></br>
Description: <%=apparel.description%></br>


<%- include('footer.ejs') %>