<%- include('header.ejs') %>
<h1><%=shoe.name %></h1>
<img src="<%=shoe.img%>" class="Img"></br>
<%=shoe.brandName%></br>   
Price: $<%=shoe.price%></br>
Quantity: <%=shoe.quantity%></br>
Description: <%=shoe.description%></br>


<%- include('footer.ejs') %>