<%- include('header.ejs') %>
<div class="showDiv">
  <h1><%=racquet.name %></h1>
  <img src="<%=racquet.img%>" class="showImg"></br>
  <%=racquet.brandName%></br>   
  Price: $<%=racquet.price%></br>
  Quantity: <%=racquet.quantity%></br>
  <a class="description">Description:</a> <%=racquet.description%></br>
</div>
<%- include('footer.ejs') %>